NEXT_PUBLIC_WORDPRESS_GRAPHQL_URL=https://cms.webpages.am/graphql
NEXT_PUBLIC_WPGRAPHQL_ENDPOINT=https://cms.webpages.am/graphql
WORDPRESS_SITE_URL=https://cms.webpages.am
NEXT_PUBLIC_WORDPRESS_SITE_URL=https://cms.webpages.am
WC_API_URL=https://cms.webpages.am/wp-json/wc/v3
WC_CONSUMER_KEY=ck_replace_me
WC_CONSUMER_SECRET=cs_replace_me
